boto3==1.24.28
fastcluster==1.2.6
flatdict==4.0.1
ipython==8.5.0
matplotlib==3.4.2
numpy==1.19.5
pandas==1.3.2
pybtex==0.24.0
python-dotenv==0.21.0
python_benedict==0.26.0
scikit_learn==1.1.3
scipy==1.6.2
seaborn==0.11.2
tqdm==4.62.2
pyexcel==0.7.0
pyexcel-ods3==0.6.1
python-benedict
statsmodels
dask
dask-ml
hvplot
jupyter_bokeh
pingouin>=0.5.2
# Install python-graphviz with conda