boto3==1.24.28
fastcluster==1.2.6
flatdict==4.0.1
ipython==8.5.0
matplotlib==3.4.2
pandas
pybtex==0.24.0
python-dotenv==0.21.0
scikit-learn
scipy
seaborn==0.11.2
tqdm==4.62.2
pyexcel==0.7.0
pyexcel-ods3==0.6.1
python-benedict
statsmodels
dask
numpy
dask-ml
hvplot
jupyter_bokeh
pingouin>=0.5.2
# Install python-graphviz with conda